body{
    background: url(./imagens/img.trabalho.etec.light.jpg) no-repeat top center/cover;
    width: 100%;
    max-width: 588px;
    height: 100vh;
}
h1, h3{
    background: #d18da2;
    color: #4d634f;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
}
p, ul{
    background: #4d634f;
    color: #efdce2;
    width: fit-content;
}
a {
    color: #d18da2;
}
img {
    height: 100px;
    border-radius: 50%;
}
@media (min-width: 700px){
    body{
        background: url(./imagens/background.jpgs);
        margin: auto;
    }
}